
{{#listofsigners}}


<p> {{first}} {{last}}  {{age}} <a href="/signers/{{city}}">{{city}}</a>
<a href="{{url}}" target="_blank">{{url}}</a></p>


{{/listofsigners}}




<button>
            <a href="/signed">Return</a>
</button>
