<div class="box">
<div class="firstboxthanks">
<form action="/signed/delete" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Delete your signature</button>
    <button><a href="/signers">See all {{count}} signers</a></button>
    <button><a href="/profile/edit">Edit your profile</a></button>
    <button><a href="/Login">Logout</a></button>
</form>
</div>

<div class="petitionform">
<div class="signers">
    <h3>NAMASTE {{name}}  {{lastname}}</h3>
</div>
<img src="{{image}}">
<div class="hands">
<img class="namaste" src="https://thumbs.gfycat.com/GrimyRepentantDegus-size_restricted.gif">
</div>
</div>
</div>
