<div class="box">
    <div class ="signers">
{{#listofsigners}}
<p>   {{first}} {{last}} {{age}} <a class ="city" href="/signers/{{city}}">{{city}}</a>
<a class="url" href="{{url}}" target="_blank">{{url}}</a></p>
{{/listofsigners}}
</div>
<div class= "returnbutton">
    <!-- <img src="https://thumbs.gfycat.com/PrestigiousDisguisedDuckbillplatypus-small.gif"> -->
    <img class = "yogapic1" src="https://freedesignfile.com/upload/2018/03/Yoga-silhouette-with-sunset-background-vector-07.jpg">
    <div class="return">
    <button><a class="return" href="/signed">Return</a></button>
</div>
</div>
</div>
